<a href="/issues/<%=@issue.id%>">Back</a>

<h3>Editing <%=@issue.title%></h3>

<form action="/issues/<%=@issue.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Issue #: <input type="text" name = "issue[issue_number]" id ="issue_number" value="<%=@issue.issue_number%>" >
  Title: <input type="text" name = "issue[title]" id ="issue_title" value="<%=@issue.title%>" >
  Cover Date: <input type="text" name = "issue[cover_date]" id ="issue_title" value="<%=@issue.cover_date%>" >

  <div style="padding-bottom: 3px; padding-top: 7px"> Comicbook:&nbsp;&nbsp;

    <input list="comicbooks" name="comicbook_title" value="<%=@issue.comicbook.title if @issue.comicbook%>" size="25"  autocomplete="off" required>
    <datalist id="comicbooks" >
      <%Comicbook.all.each do |comicbook| %>
          <option value = "<%=comicbook.title%>" id = "<%=comicbook.id%>" name = "comicbook_title"  >  </option>
      <% end %>
    </datalist>
  </div>

  <br> <input type="submit" value = "Update">
</form>

<form action="/issues/<%=@issue.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" name="delete" id ="delete" value = "Delete">
</form>
