<div class="page-header">
  <h2>All Issues</h2>
</div>


<%if logged_in? %>
    <a href="/issues/new"><input type="button" value="New Issue"></a>
<% end %>

<br><br>
<table width="500" border="0" cellpadding="5">

  <tr>
    <%@issues.each do |issue| %>
      <td align="center" valign="center">
        <a href="/issues/<%=issue.id%>">
        <% if filename = Dir["public/#{issue.id}*"].first %>
            <img src="/<%=filename.split("/")[-1]%>" alt="<%=issue.title%>" height="261" width="168">

        <% else %>
            <img src="/nocover.jpg" height="261" width="168">
        <%end%>
        </a>
      <br/>
      <b><%=issue.title%></b><br>
      <i><%= issue.comicbook ? (issue.comicbook.author.name) : "None"%></i>

      </td>
    <% end %>
  </tr>

</table>