<div class="page-header">
<h2 class =text-left>Issues
<%if logged_in? %>
    <a href="/issues/new"><input type="button" value="Add" class="btn btn-danger btn-md pull-right"  ></a>
<% end %>
</h2>
</div>

<div class="container fluid col-sm-12" >
  <%@issues.each do |issue| %>
      <a href="/issues/<%=issue.id%>">
        <div class="col-sm-3">
          <div class="thumbnail">
            <% if filename = Dir["public/#{issue.id}*"].first %>
                <img src="/<%=filename.split("/")[-1]%>" alt="<%=issue.title%>" style="height: 280px; width: 180px">
            <% else %>
                <img src="/nocover.jpg" style="height: 280px; width: 180px">
            <%end%>

            <p class="text-center"><strong class = "text-info text-center"><%=issue.title%></strong><br>
              <em class ="text-muted"><%= issue.comicbook ? (issue.comicbook.title) : "No comicbook assigned"%></em>
            </p>

          </div>
        </div>
      </a>
  <% end %>
</div>
