<div class="page-header">
  <h2 class =text-left>Issues

    <%if logged_in? %>
        <a href="/issues/new"><input type="button" value="Add" class="btn btn-danger btn-md pull-right"  ></a>
    <% end %>
  </h2>
</div>

<div class="container fluid" >
  <%@issues.each do |issue| %>
      <a href="/issues/<%=issue.id%>">
        <div class="col-sm-3">
          <% if filename = Dir["public/#{issue.id}*"].first %>
              <img src="/<%=filename.split("/")[-1]%>" alt="<%=issue.title%>" height="280" width="180">

          <% else %>
              <img src="/nocover.jpg" height="280" width="180">
          <%end%>


          <br><strong class = "text-info"><body class=" text-center"><%=issue.title%></body></strong><br>
          <i class ="text-muted"><body class="text-center"><%= issue.comicbook ? (issue.comicbook.title) : "No comicbook assigned"%></body></i><br><br>
        </div>
      </a>
  <% end %>
</div>
