<h3><%=@author.name%></h3><i> Submitted by <%=current_user.authors.find_by_id(@author.id) ? "you" : @author.user.username%></i>

<% if current_user && current_user.authors.find_by_id(@author.id) %>
    <a href="/authors/<%=@author.id%>/edit"><input type="button" value="Edit"></a>
<% end %>


<h4>Comicbooks</h4>
<ul>
<% @author.comicbooks.each do |comicbook| %>
    <li><a href="/comicbooks/<%=comicbook.id%>"><%=comicbook.title%> (<%=comicbook.issues.count%>)</a></li>
<% end %>

</ul>