<div class="page-header">
<h2 class =text-left>Comicbooks

<%if logged_in? %>
    <a href="/comicbooks/new"><input type="button" value="Add" class="btn btn-danger btn-md pull-right"  ></a>
<% end %>
</h2>
</div>

<div class="container fluid col-sm-12" >
<%@comicbooks.each do |comicbook| %>
      <a href="/comicbooks/<%=comicbook.id%>">
        <div class="col-sm-3">
          <div class = "thumbnail">
          <% if filename = Dir["public/#{comicbook.id}*"].first %>
              <img src="/<%=filename.split("/")[-1]%>" alt="<%=comicbook.title%>"  style="height: 280px; width: 180px">
          <% else %>
              <img src="/nocover.jpg" style="height: 280px; width: 180px">
          <%end%>
            <p class="text-center"><strong class = "text-info text-center"><%=comicbook.title%></strong> <br>
              <em class ="text-muted"><%= comicbook.author ? (comicbook.author.name) : "No author assigned"%></em>
            </p>
          </div>
        </div>
    </a>
<% end %>
</div>