<div class="page-header">
<h2>All Comicbooks</h2>
</div>

<%if logged_in? %>
    <a href="/comicbooks/new"><input type="button" value="New Comicbook"></a>
<% end %>

<br><br>
<table width="500" border="0" cellpadding="5">

  <tr>
    <%@comicbooks.each do |comicbook| %>
      <td align="center" valign="center">
        <a href="/comicbooks/<%=comicbook.id%>">
        <% if filename = Dir["public/#{comicbook.id}*"].first %>
            <img src="/<%=filename.split("/")[-1]%>" alt="<%=comicbook.title%>" height="261" width="168">

        <% else %>
            <img src="/nocover.jpg" height="261" width="168">
        <%end%>
        </a>
      <br/>
      <b><%=comicbook.title%></b><br>
      <i><%= comicbook.author ? (comicbook.author.name) : "None"%></i>

      </td>
    <% end %>
  </tr>

</table>