<div class="page-header">
<h2 class =text-left>Comicbooks

<%if logged_in? %>
    <a href="/comicbooks/new"><input type="button" value="Add" class="btn btn-danger btn-md pull-right"  ></a>
<% end %>
</h2>
</div>

<div class="container fluid col-md-12" >
<%@comicbooks.each do |comicbook| %>
      <a href="/comicbooks/<%=comicbook.id%>">
      <div class="col-sm-3">
        <% if filename = Dir["public/#{comicbook.id}*"].first %>
            <img src="/<%=filename.split("/")[-1]%>" alt="<%=comicbook.title%>" height="280" width="180">

        <% else %>
            <img src="/nocover.jpg" height="280" width="180">
        <%end%>


      <br><strong class = "text-info"><body class=" text-center"><%=comicbook.title%></body></strong><br>
      <i class ="text-muted"><body class="text-center"><%= comicbook.author ? (comicbook.author.name) : "No author assigned"%></body></i><br><br>
    </div>
      </a>
<% end %>
</div>