<div class="page-header">
  <ul class="pager">
  <div class = "previous" style="text-align: left">
    <li>
      <a href="/comicbooks">
        Back
      </a>
    </li>
    <h3 style="display: block;margin-top: -30px;margin-bottom: -20px" class = "text-center">
      <%=@comicbook.title%> <small> >> <%=@comicbook.issues.size%> issue(s)</small><br>
      <small>By <a href="/authors/<%=@comicbook.author.id if @comicbook.author %>"><%= @comicbook.author.name if @comicbook.author%></a></small><br>
      <small><em>Submitted by <strong><%=(current_user && current_user.comicbooks.find_by_id(@comicbook.id)) ? "you" : @comicbook.user.username %></strong>
      </em></small>
      <% if current_user && current_user.comicbooks.find_by_id(@comicbook.id) %>
          <a href="/comicbooks/<%=@comicbook.id%>/edit"><input type="button" value="Edit" class = "btn btn-primary btn-xs"></a>
      <% end %>

    </h3>

  </div>
</ul>
</div>
<span class = "text left">
      <%if logged_in? %>
          <a href="/issues/new"><input type="button" value="Add" class="btn btn-danger btn-md pull-right"  ></a>
      <% end %>
  </span> <br><br>
<div class="container fluid col-sm-12" >

  <%@comicbook.issues.each do |issue| %>
      <a href="/issues/<%=issue.id%>">
        <div class="col-sm-3">
          <div class="thumbnail">
            <% if filename = Dir["public/#{issue.id}*"].first %>
                <img src="/<%=filename.split("/")[-1]%>" alt="<%=issue.title%>" style="height: 280px; width: 180px">
            <% else %>
                <img src="/nocover.jpg" style="height: 280px; width: 180px">
            <%end%>

            <p class="text-center"><strong class = "text-info text-center"><%=issue.title%></strong><br>
              <em  class="text-muted"><%=issue.cover_date%></em>
            </p>
          </div>
        </div>
      </a>
  <% end %>
</div>